input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}


table {
    border-collapse: collapse;
    width: 100%;
}


table, td, th {
    border: 1px solid #ddd;
}


th {
    height: 50px;
}

td {
    height: 50px;
    vertical-align: bottom;
}